// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #F3F3F3;
$light-gray: #F4F4F4;
$purple: #5E77FF;
$black: #5E5E5E;
