.banner {
  // background-image: image-url(".png");
  // background: asset-url('banner-background.jpg'), linear-gradient(to bottom right, white, #F3F3F3);
  background-size: contain;
  background-repeat: no-repeat;
  height: calc(100vh - 70px);
  padding: 15vh 0 0 0;
  margin: 0;
  text-align: center;
}

.home-logo-title {

  display: flex;
  justify-content:center;
  align-items: center;

}

.banner-logo {

width: 200px;
height: 200px;
margin: 50px;

}

#homepage_logo {
  color: #5E5E5E;
  font-size: 120px;
  margin: 0 0 3vh 0;
}

#homepage_aphorism {
  color: #5E5E5E;
  font-size: 25px;
  margin: 2vh 0 6vh 0;
}

#homepage_search_form_wrapper {
   width: 500px;
   margin: 0 auto;
}

#profile_github_username {
  width: 300px;
  // border: 0.25px solid #5E5E5E;
  margin: 0 auto;
  height: 40px;
  padding: 0 4px;
  vertical-align: text-bottom;
  background: none;
  border: none;
  border-bottom: black 2px solid;
}

#homepage_search_button {
  font-size: 38px;
  vertical-align: baseline;
  color: #5E77FF;
  background-color: transparent;
  border: none;
}

#homepage_search_button a {
  color: #5E77FF;
}
