.profile-container {

  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.projects-header {

  max-width: 800px;
  margin: 40px auto;
}

.specialone {
  background: white;
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  // box-shadow: 1px 1px 1px lightgrey;
  // border-radius: 4px;
  // canvas {
  //   width:100% !important;
  //   height:350px !important;
  //   margin-top: 50px;
  // }

}
