.profile-container {

  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.projects-add-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.projects-add {
  width: 800px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  padding: 0px 0px;
}

.proj-title {

  font-size: 31px;
}

.btn {

  color: #5E77FF;
  // font-size: 16px;
  border-color: #5E77FF;
  background-color: transparent;


}

.btn:hover {

  color: #475AC7;
  border-color: #475AC7;
  background-color: transparent;


}

.box-shadow-os {

box-shadow: 10px 10px 41px 7px rgba(77,77,77,0.13);

}

.projects-header {
  margin: 0px auto;
  max-width: 800px;
  margin: 40px auto;
}

.name-follow-container {

  display: flex;
  align-items: center;

}

.specialone {
  background: white;
  width: 75%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px 40px 40px 40px;
  // box-shadow: 1px 1px 1px lightgrey;
  // border-radius: 4px;
  // canvas {
  //   width:100% !important;
  //   height:350px !important;
  //   margin-top: 50px;
  // }
  h5 {
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

}
