.profile-container {

  display :flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.box-shadow-os {

box-shadow: 10px 10px 41px 7px rgba(77,77,77,0.13);

}

.projects-header {

  max-width: 800px;
  margin: 40px auto;
}

.specialone {
  background: white;
  width: 75%;
  max-width: 800px;
  margin: 40px auto;
  padding: 20px 40px 40px 40px;
  // box-shadow: 1px 1px 1px lightgrey;
  // border-radius: 4px;
  // canvas {
  //   width:100% !important;
  //   height:350px !important;
  //   margin-top: 50px;
  // }
  h5 {
    margin-bottom: 20px;
    margin-bottom: 20px;
  }

}
