<div class="wrapper">
  <div class="container">
    <h1><%= User.find(1).email %></h1>
    <div class="row">
      <div class="col-xs-6 col-offset-3">

      </div>
    </div>
    <p> <%= link_to "Back Home", root_path %></p>
    <p> <%= link_to "Go to a user show page", user_path(1) %></p>
    <p> <%= link_to "Go to a project page", project_path(1) %></p>
  </div>
</div>
