<div class="specialone" >
  <h2 class="text-center">
    Commits over time
  </h2>
  <%= render 'shared/com-ovr-time'%>
</div>
<div class="container">
  <br>

  <div class="row">


    <div class="col-xs-12 col-sm-6">

      <div class="card">

        <div class="card-category">Stats</div>

        <div class="card-description"></div>
        <i id="ghub" class="fab fa-github fa-2x"><%= link_to @profile.github_username, "https://github.com/#{@profile.github_username}", :target => "_blank", :style=> 'color:#FFFFFF;', :class => 'link_to'%></i>

      </div>

    </div>





    <div class="col-xs-12 col-sm-6">
      <div class="card">
        <div class="card-category">Top Language</div>
        <div class="card-description">
          <%= render 'shared/top_languages' %>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>

</div>
