<div class="profile-img profile-photo" style="background-image: url('<%= cl_image_path profile.profile_photo %>');">

  <% if @profile.user && @profile.user == current_user %>
  <div id="profile-img-hover" class="text-center">
      <%= render 'shared/photo-upload-form'%>
      <% end %>
  </div>
</div>
