<div class="banner" >


  <div class="home-logo-title">
    <%= image_tag 'Frame.png', class: "logo-image banner-logo" %>
<!--     <h1 class="logo_font" id="homepage_logo">Buidl</h1> -->
  </div>
  <p id="homepage_aphorism">A place for developers to showcase their work</p>

   <div id="homepage_search_form_wrapper">
    <%= simple_form_for @profile, wrapper: :inline_form, defaults: { label: false } do |f| %>

    <%= f.input_field :github_username, placeholder: "What's your Github username?", autofocus: false, :html=> { id: "homepage_search_bar" } %>

    <%= button_tag type: 'submit', id: "homepage_search_button", data: {disable_with: "<i class='fa fa-spinner fa-spin'></i>"} do %>
    <i class="fab fa-github" aria-hidden="true"></i>
    <% end %>

    <% end %>
    </div>
</div>
