<div class="banner">
  <h1 class="logo_font" id="homepage_logo">Buidl</h1>
  <p id="homepage_aphorism">Let's get away from them Linkedin dicks</p>

  <div id="homepage_search_components">

    <!-- Replace this with a working search bar -->
    <!-- <input type="search" id="homepage_search_bar" placeholder="What's your Github username?"> -->

    <!-- Replace this with a working search button -->
  <!-- <span id="homepage_search_button">
    <a href="#"><i class="fab fa-github"></i></a>
  </span> -->

  <%= form_with url: user_path(1), local: true do |form| %>
    <%= form.text_field :title, id: "homepage_search_bar" %>

    <%= button_tag type: 'submit', id: "homepage_search_button" do %>
        <i class="fab fa-github" aria-hidden="true"></i>
    <% end %>
<% end %>
</div>
</div>
