<div class="banner">
  <h1 class="logo_font" id="homepage_logo">Buidl</h1>
  <p id="homepage_aphorism">Let's get away from them Linkedin dicks</p>

   <div id="homepage_search_form_wrapper">

  <!-- Replace this with a working search bar -->
  <% unless current_user %>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :github_username, placeholder: "What's your Github username?", :html=> { id: "homepage_search_bar" }  %>
    <%= f.submit %>
      <% end %>
  <% end %>

    </div>
</div>
