<div class="banner">
  <h1 class="logo_font" id="homepage_logo">Buidl</h1>
  <p id="homepage_aphorism">Let's get away from them Linkedin dicks</p>

  <div id="homepage_search_components">

  <!-- Replace this with a working search bar -->
  <% unless current_user %>
  <%= simple_form_for @profile do |f| %>
    <%= f.input :github_username  %>
    <%= f.submit %>
      <% end %>
  <% end %>

<!--   <form action="">
    <input type="search" name="first_name" id="homepage_search_bar" placeholder="What's your Github username?" action="redirect_to user_path(@user)">
  </form> -->


  <!-- Replace this with a working search button -->
  <span id="homepage_search_button">
    <a href="#"><i class="fab fa-github"></i></a>
  </span>
  </div>
</div>
