<div class="wrapper">
  <div class="container">
    <h1>Search Site showing all Users + Projects</h1>
    <div class="row">
      <div class="col-xs-6 col-offset-3">

      </div>
    </div>
    <%= link_to "Back Home", root_path %>
    <%= link_to "Go to a user show page", user_path(1) %>
    <%= link_to "Go to a project page", project_path(1) %>
  </div>
</div>
