<div class="wrapper">
  <div class="project_header">
    <%= image_tag 'stock_cover_photo2.jpg', class: "cover_photo" %>

      <div class="container">

        <div class="row">
          <div class="col-xs-12 col-sm-3">

            <div class="profile-img profile-photo" style="background-image: url('<%= image_path("stock_photo.jpg") %>');">

            </div>

          </div>
        </div>
      </div>

  </div>
</div>



<div class="wrapper">
  <div class="container">
    <h1><%= Project.find(1).name %></h1>
    <div class="row">
      <div class="col-xs-6 col-offset-3">


      <!-- GITHUB API TEST AREA -->
      <%=  @project_details['name'] %>
      <!-- Test area end -->


      </div>
    </div>
  </div>
</div>
