.card-outer {
  max-width: 800px;
  background-color: #FFFFFF;
  box-shadow: 8px 8px 8px 8px 25px rgba(50,50,50,0.10);
  margin: 40px auto 60px  auto;
  // font-size: 14px;
  color: $black;

}



.box-2  {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 26px 40px;

}

.title-box {

  display:flex;
  flex-direction: row;
  justify-content: space-between;
  // align-items: ceter;

}

.project-card-title {

  margin: 0px;

}

.box-3 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px 40px;
}

.p-lang {

  display: flex;
  justify-content: start;
  align-items: center;
}

.edit-btn {
  color: #5E77FF;
  background-color: transparent;
  border-style: none;
  height: 100px;
  margin: auto 0px;
  bottom: 0px;
  opacity: 0.65;

}

.edit-btn:hover {

  opacity: 1;

}

// .title-box {

// display: flex;

// }

.primary-language {

margin-left: 10px;
}
// .h3 {
//   margin: 0px;
// }

// .text-field {
//   margin-top: 10px;
// }

li {
  list-style-type: none;
}

// .lang-data {
//   height:310px;

//   overflow: hidden;
//   overflow: scroll;
// }



// /* Extra Small Devices, Phones */
// @media (min-width : 480px) {
//   .box-1 .card-image{
//     height:400px;
//   }

//   .box-2 {
//     height:300px;
//     .p {

//     }
//   }

//   .box-3 {
//     height:300px;
//   }
// }

// /* Small Devices, Tablets */
// @media (min-width : 768px) {
//   .box-1 .card-image{
//     // height:300px;
//   }

//   .box-2 {
//     // height:300px;
//     .p {

//     }
//   }

//   .box-3 {
//     // height:300px;
//   }
// }



// /* Medium Devices, Desktops */
// @media (min-width : 992px) {
//   .box-1 .card-image {
//     height:350px;
//   }

//   .box-2 {
//     height:350px;
//     .p {
//     }
//   }

//   .box-3 {
//     height:350px;
//   }
// }










