#chart-container {

  height: 150px;
  width:  150px;
  display: flex;
  align-items: center;
  justify-content:center;

}

.toplgraph {
  height: 350px;

}

#top-lang-chart {
    margin-top: 0px;

}
