.form_wrapper {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.fas {
  color:white;
}

.fas:hover {
  color: grey;
}

#edit_profile_2 {
  // position: absolute;
  // border-radius: 50%;
  // top: 0;
  // right: 0;
  // left: 0;
  // bottom: 0;
}

.modal-body {
  .form-control-label {
    color: black
  }
}
