.profile-header-container  {

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 40px 0px;

}

.name-and-follow {

  display: flex;
  align-items: flex-start;

  h1 {
    margin: 0px;
  }

  a  {

    margin: 5.5px 0px 0px 25px;
  }

}

.profile-photo{

  height: 205px;
  width: 205px;
  border-radius: 50%;
  border: 5px white solid;
  background-position: center;
  background-size: cover;
}



.profile-img {
  position: relative;
  border-radius: 50%;
  height: 200px;
  width: 200px;
}

#profile-img-hover {
  position: absolute;
  border-radius: 50%;
  border: 2px white solid;
  background: black;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#profile-img-hover:hover {
  opacity: 0.6;
  color: white;
}

.fa-edit {
  color: white;
}

// @media (max-width : 1200px) {
//   .profile_header img.profile_photo {
//     margin-top: -125px;
//     height: 250px;
//     width: 250px;
//     border-radius: 50%;
//     border: 2px white solid;
//   }

//   .profile_header {
//     text-align: left;
//   }

//   .profile_header div.information {
//     margin-left: 50px;
//   }

//   .profile_header h1.name {
//     display: inline;
//   }
// }

// @media (max-width : 992px) {
//   .profile_header img.profile_photo {
//     margin-top: -62.5px;
//     height: 125px;
//     width: 125px;
//     border-radius: 50%;
//     border: 2px white solid;
//   }

//   .profile_header {
//     text-align: left;
//   }

//   .profile_header div.information {
//     margin-left: 25px;
//   }

//   .profile_header h1.name {
//     display: inline;
//   }
// }

// @media (max-width : 768px) {
//   .profile_header {
//     text-align: center;
//   }

//   .profile_header div.information {

//   }
//   .profile_header h1.name {
//     display: block;
//   }
// }

